{% extends 'base.html' %}

{% block content %}
	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{ project.name|upper }}</h3>
				<hr>
				<p>{{ project.description }}</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-4 col-lg-offset-4 centered">
				<p><img class="img-responsive" src="{{ project.image.url }}" alt=""></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock %}
